// Place all the styles related to the Appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.appointments-table{

  margin: 3% 3% 3% 3%;
  width: 85%;
}

.new-appointments-button{
  position: absolute;
  right: 0;
  margin-right: 13%
}

